<%= semantic_form_for @movie do |form| %>
    <%= form.inputs %>
    <%= form.buttons %>
<% end %>
<!--
<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :speaker %><br />
    <%= f.text_field :speaker %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :parent %><br />
    <%= f.text_field :parent %>
  </div>
  <div class="field">
    <%= f.label :process_venue %><br />
    <%= f.text_field :process_venue %>
  </div>
  <div class="field">
    <%= f.label :process_mobile %><br />
    <%= f.text_field :process_mobile %>
  </div>
  <div class="field">
    <%= f.label :process_website %><br />
    <%= f.text_field :process_website %>
  </div>
  <div class="field">
    <%= f.label :process_mp3 %><br />
    <%= f.text_field :process_mp3 %>
  </div>
  <div class="field">
    <%= f.label :process_proof %><br />
    <%= f.text_field :process_proof %>
  </div>
  <div class="field">
    <%= f.label :process_youtube %><br />
    <%= f.text_field :process_youtube %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->
