<h1><%=h @movie.title %></h1>
<h2><%=h @movie.speaker %></h2>
<h3><%=h @movie.date %></h3>
<% if @movie.moviefile != nil  %>
<p>
  <strong>Type:</strong>
  <%=h @movie.category %>
</p>
<p>
  <strong>Parent:</strong>
  <%=h @movie.realparent %>
</p>
<p>
<strong>Processing switches: </strong>
<ul>
<%= "<li>Venue</li>\n" if (@movie.process_venue) %>
<%= "<li>Mobile</li>\n" if (@movie.process_mobile) %>
<%= "<li>Website</li>\n" if (@movie.process_website) %>
<%= "<li>Audio</li>\n" if (@movie.process_mp3) %>
<%= "<li>Youtube</li>\n" if (@movie.process_youtube) %>
<%= "<li>Proof</li>\n" if (@movie.process_proof) %>
</ul>
</p>
File uploaded already!
<p>
  <%= link_to "Edit", edit_movie_path(@movie) %> |
  <%= link_to "Destroy", @movie, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", movie_series_index_path %>
</p>
<% else %>
<h2 id="labelupload">Please upload file now</h2>
<input type="text" id="movie_filename">
<%= link_to "View All", movie_series_index_path %>
<script type="text/javascript">
  $(function() {  
    // encode the session into a Flash-save format
    //<% arr = [] %>
    //<% request.env['HTTP_COOKIE'].each_char{|c| arr.push(c[0].to_s)} %>
    //<% session = arr.join("x") %>

    $('#movie_filename').uploadify ({
      script          : '/mediaManager/movies/upload/',
      uploader        : '/mediaManager/javascripts/uploadify/uploadify.swf',
      multi           : false,
      auto            : true,
      scriptData      : { 'movieid': '<%=@movie.id%>'},
      onError         : function (event,ID,fileObj,errorObj) { alert(errorObj.type + ' Error: ' + errorObj.info);},
      //scriptData      : {'session_encoded': '<%= session %>', 'foo': 'bar' },
      cancelImg       : '/mediaManager/javascripts/uploadify/cancel.png',  //take care that the image is accessible
      onComplete: function(event, queueID, fileObj, reposnse, data) {
		$('#labelupload').html(fileObj.name + ' succesfully uploaded!');
		$('#movie_filenameUploader').hide();
      }
    });
  });
</script>
<% end %>

