<!--<%= image_tag(@movie.thumbpic.url(:original)) %>-->
<h1><%=h @movie.title %></h1>
<h2><%=h @movie.speaker %></h2>
<h3><%=h @movie.date %></h3>
<h4><%=h @movie.moviefile %></h4>
<% if @movie.moviefile != nil  %>
<p>
  <strong>Type:</strong>
  <%=h @movie.category %>
</p>
<p>
  <strong>Parent:</strong>
  <%=h @movie.realparent %>
</p>
<p>
<strong>Processing switches: </strong>
<pre><%= "Venue\n" if (@movie.process_venue) %><%= "Mobile\n" if (@movie.process_mobile) %><%= "Website\n" if (@movie.process_website) %><%= "Audio\n" if (@movie.process_mp3) %><%= "Youtube\n" if (@movie.process_youtube) %><%= "Proof\n" if (@movie.process_proof) %></pre>

<strong>Book of bible:</strong>
<p><%=@movie.bookofbible%></p>


<strong>Scripture Reference:</strong>
<p><%=@movie.scriptureref%></p>


<strong>Summary:</strong>
<p><%=@movie.summary%></p>

<strong>Online material:</strong>
<% if @movie.url_website != nil %>
<%= javascript_include_tag "flowplayer/flowplayer-3.2.6.min.js" %>
<style>
a.rtmp {
      display:block;
      width:640px;
      height:360px;
      margin:25px 0;
      text-align:center;
      background-color:black;
}
</style>
<a class="rtmp" href="mp4:<%=@movie.url_website.split("/")[4,5].join("/").chomp(".mp4") %>"/>
<img src="<%=@movie.thumbpic.url(:original)%>" width=640px height=360px alt="PLAY ME" />
</a>
<script type="text/javascript">
$f("a.rtmp", "/mediaManager/javascripts/flowplayer/flowplayer-3.2.7.swf", { 
  //  This next code configures the player to use rtmp plugin for streaming. 
  clip: { 
    provider: 'rtmp'
  },
  plugins: {
    rtmp: {
      url: '/mediaManager/javascripts/flowplayer/flowplayer.rtmp-3.2.3.swf',
      netConnectionUrl: 'rtmp://swqg8jtg7ui33.cloudfront.net/cfx/st'
    }
  }
});
</script>
<% end %>
</p>
<p>
  <%= link_to "Edit", edit_movie_path(@movie) %> |
  <%= link_to "Destroy", @movie, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", movie_series_index_path %>
</p>
<% end %>
