<h1>Listing movie_series</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Startdate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movie_series.each do |movie_series| %>
  <tr>
    <td><%= movie_series.name %></td>
    <td><%= movie_series.startDate %></td>
    <td><%= link_to 'Show', movie_series %></td>
    <td><%= link_to 'Edit', edit_movie_series_path(movie_series) %></td>
    <td><%= link_to 'Destroy', movie_series, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie series', new_movie_series_path %>
