<%= semantic_form_for (@movie_series, :url => movie_series_index_path, :html => { :multipart => true }) do |form| %>
  <% form.inputs do %>
    <%= form.input :name %>
    <li><label>Thumbnail: </label><%= form.file_field :thumbpic %></li>
    <%= form.input :startDate, :as => :date, :label => "Series start date" %>
  <% end %>
  <%= form.submit %>
<% end %>
