%h2 Movie Series
%ul
  - for movie_series in @movie_series
    %li
      = image_tag movie_series.thumbpic.url(:thumb)
      = h movie_series.startDate
      = h movie_series.name
      = link_to "Show", movie_series
      = link_to "Edit", edit_movie_series_path(movie_series)
      / <haml:loud> link_to &amp;quot;Destroy&amp;quot;, movie_series, :confirm =&amp;gt; 'Are you sure?', :method =&amp;gt; :delete </haml:loud>
      %ul
        - for movie in movie_series.allmovies
          %li
            = image_tag movie.thumbpic.url(:thumb)
            = h movie.date
            \- #{h movie.category} - #{h movie.title}
            \#{link_to "Show", movie}
            \#{link_to "Edit", edit_movie_path(movie)}
            %ul
              - for childmovie in movie.children
                %li
                  = image_tag childmovie.thumbpic.url(:thumb)
                  = h childmovie.date
                  \- #{h childmovie.category} - #{h childmovie.title}
                  \#{link_to "Show", childmovie}
                  \#{link_to "Edit", edit_movie_path(childmovie)}
%h2 Standalone Movies
%ul
  - for movie in Movie.standalone
    %li
      = image_tag movie.thumbpic.url(:thumb)
      = h movie.date
      \- #{h movie.category} - #{h movie.title}
      \#{link_to "Show", movie}
      \#{link_to "Edit", edit_movie_path(movie)}
      %ul
        - for childmovie in movie.children
          %li
            = image_tag childmovie.thumbpic.url(:thumb)
            = h childmovie.date
            \- #{h childmovie.category} - #{h childmovie.title}
            \#{link_to "Show", childmovie}
            \#{link_to "Edit", edit_movie_path(childmovie)}
= link_to "New movie series", new_movie_series_path
|
= link_to "Add new movie", new_movie_path
