<h1>Movie Series</h1>

<p>
  <strong>Name:</strong>
  <%=h @movie_series.name %>
</p>
<p>
  <strong>Startdate:</strong>
  <%=h @movie_series.startDate %>
</p>

<p>
  <%= link_to "Edit", edit_movie_series_path(@movie_series) %> |
  <!--<%= link_to "Destroy", @movie_series, :confirm => 'Are you sure?', :method => :delete %> |-->
  <%= link_to "View All", movie_series_index_path %>
</p>
