%h2 Trash Bin
%ul
  - for movie in Movie.where(:status => "Trash")
    %li
      = image_tag movie.thumbpic.url(:thumb)
      = h movie.date
      \- #{h movie.category} - #{h movie.title}
      \#{link_to "Show", movie}
      \#{link_to "Edit", edit_movie_path(movie)}
      \#{link_to "Publish", republish_movie_path(movie)}
      %ul
        - for childmovie in movie.children
          %li
            = image_tag childmovie.thumbpic.url(:thumb)
            = h childmovie.date
            \- #{h childmovie.category} - #{h childmovie.title}
            \#{link_to "Show", childmovie}
            \#{link_to "Edit", edit_movie_path(childmovie)}
            \#{link_to "Publish", republish_movie_path(childmovie)}
